@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&display=swap');
*{
  margin:0;
  padding:0;
  border:0;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 25px;
}
/*--------------------------------------Global */
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;

}
.main-content h1, .main-content h2, .main-content h3, .main-content h4{
    margin-bottom:10px;
}
.main-content h1.heading{
    margin-bottom:20px;
}
.fa{
    margin:0 20px 0 0;
}

body{
    font-family:Lato;
    color:#777777;
    font-size:1em;
  }
.row img{
    max-width:100%;
}

.progress-bar{
    background-color:#9acef5; 
    background-image: linear-gradient(#9acef5, #afecb4);
}
.bg-success{
    background-color:#9acef5; 
    background-image: linear-gradient(#d2b8f5, #c7d9ef);
}



.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

 .h1, .h2, .h3, h1, h2, h3 {
 
}

#main-container h1, 
#main-container h2,
#main-container h3,
#main-container h4,
#main-container h5,
#main-container h6{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:700;
}



#main-container h3 {
    padding-bottom:10px;
    border-bottom: 4px solid #ddd;
}

/*--------------------------------------Fonts */
h1{
    font-family:Oswald, sans-serif;
    font-size: 1.8em;
}
.progress{
    margin-bottom: 5px;
}
/*--------------------------------------Header */

.header-top h1{
    text-transform:uppercase;
    font-size:1.6em;
    line-height: 55px;
}
.skills{
    height:200px;
}
header{background:#fff;}

.header-middle{

    overflow:hidden;
}

.header-middle-inner{
    background-image: url('../images/mlacey-illustration.png');
    background-repeat:no-repeat;
    background-size:cover;
    text-transform:uppercase;
    min-height: 300px;
    background-position: 37% center;
    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode:forwards;
    position: relative;
}

.header-skills{
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 500px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(100, 153, 230,0.7);
    top: 30px;
    left: 50px;
    position: absolute;
    color:#fff;
}
.header-skills img{
    max-width:35px;
    display:block;
    margin:0 auto;
}
.header-skills-wrapper{
    position:relative;
}

@keyframes hero-zoom{
    from{
      transform:scale(1);
    }
    to{
      transform:scale(1.1);
    }
  }

.profile{
    background-image:url('../images/profile3.jpg');
    background-size:contain;
    background-repeat:no-repeat;
}

.section-column ul{
    list-style:none;
    margin: 20px 0 0 0;
}
.section-column ul > li{
    margin:0 0 20px 0;
}
.section-column a{
    color: #6a7993;
}
/*--------------------------------------Left Column */
.bg-color-personal-info {
    background-color: #f4f4f4;
}

.section-column {
    display: table-cell;
    padding: 0 30px 0px;
    float: none;
    background: #e7effc;
}

.heading{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 30px;
    text-transform:uppercase;
}
/* ----------------------------------------Homepage */


.home-row{
    margin:0 0 40px 0;
}

/* ----------------------------------------Footer */
footer{
    background: #e7effc;
    border-top: 0.5px solid #e2d8d8;
    padding-top:10px;
}

/* ----------------------------------------Work History */

.history-heading {

    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;

}
.timeline-item h3{
    font-weight:700;
}
.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fd565e;
}

.history-items {
    margin-bottom: 30px;
 
}

.skillset .fa{display:block;}


/* ----------------------------------------Skills bar */
.bar100{
    width:100%;
}

.bar95{
    width:95%;
}

.bar90{
    width:90%;
}
.bar85{
    width:85%;
}
.bar80{
    width:80%;
}
.bar75{
    width:75%;
}
.bar70{
    width:70%;
}
.bar65{
    width:65%;
}
.bar60{
    width:60%;
}
.bar55{
    width:55%;
}


.page-interests p, .page-interests h2, .page-interests h3, legend{
    color:#fff;
}
.photo{
    clear:both;
    line-height:0;
    column-gap:0;
}

#photo-2{
    column-count:2;
}


#photo-4{
    column-count:4;
}

.photo img{
    width:100%;
  }

    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }
/*--------------------------------------Footer */
.footer {

    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

/*--------------------------------------Responsive */
@media (min-width: 1200px){
    .container {
        max-width: 1480px;
    }
}